<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Two Factor Authentication</title>
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
          <div class="col-md-6 m-auto">
            <div class="card card-body">
              <h1 class="text-center mb-3">  Two Factor Authentication</h1>
              <form action="/verify" method="POST">
                <div class="form-group">
                  <label for="code">Please enter the code that we sent to your email :</label>
                  <input
                    type="text"
                    id="code"
                    name="code"
                    class="form-control"
                    placeholder="Enter 2FA code"
                  />
                  <input 
                    type="hidden"
                    name="email"
                    value="<%= email%>"
                  />
                </div>
                <% if (message.length > 0) { %>
                  <p><%= message%></p>
                <% } %> 
                <button type="submit" class="btn btn-success">Verify</button>
              </form>
              <form action="/resend" method="POST">
                <div class="form-group">
                  <input 
                    type="hidden"
                    name="email"
                    value="<%= email%>"
                  />
                </div>
                <button type="submit" class="btn btn-secondary">Resend OTP code</button>
              </form>
            </div>
          </div>
        </div>         
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
